#footer {
    text-align: center;
    margin-top: 0px;
    background: #333;
    padding: 7px;
}

.wrapper-footer>p>a {
    color: #777;
    text-decoration: none;
    font-size: 15px;
}

.wrapper-footer>p>a:hover {
    color: #FF3D4F;
}

.wrapper-footer {
    padding: 5px;
}

.fa-laptop {
    margin: 3px;
    color: #45a7f7;
}