* {
    color: #000;
    margin: 0;
    padding: 0;
}


/* NAVIGATION BAR */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 50px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nar li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #0078d4!important;
}

.navbar {
    background: #000;
}

.navbar-toggler {
    color: #fff;
    border: none!important;
}

.nav-link {
    color: #fff!important;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}


/* SLIDER */

#slider {
    width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h5 {
    animation: text 2s 1;
    color: #fff;
    font-size: 52px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 3px;
    text-shadow: 0px 0px 20px #000;
}

@keyframes text {
    0% {
        opacity: 0;
        /* transform: rotate(360deg); */
    }
    35% {
        font-size: 100px;
    }
}

@keyframes after {
    0% {
        width: 20px;
    }
    50% {
        width: 220px;
    }
    100% {
        width: 20px;
    }
}


/* MOVIES OVERLAY */

#movies-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
}

.chenar {
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 130px;
    margin-left: 100px;
    width: 90%;
    height: 80%;
    border-radius: 24px;
    box-shadow: 0px 0px 60px -12px rgba(0, 0, 0, 0.75);
}

.banner-overlay {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.banner-overlay .img-bnr img {
    display: none;
    max-height: 700px;
}

.banner-overlay .img-bnr img:hover {
    box-shadow: 0 2px 20px #333;
}

.banner-overlay h2 {
    color: #000;
    margin-top: 20px;
    margin-bottom: 8px;
}

.banner-overlay .desc {
    padding-left: 34px;
    padding-right: 34px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: justify;
    margin: auto;
    width: 100%;
}


/* MOVIES SECTION */

#movies {
    background: #efefef;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

h1 {
    text-align: center;
    color: #555;
    padding-bottom: 10px;
}

h1::after {
    animation: after 10s infinite;
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 220px;
    margin: 20px auto 5px;
}

.row {
    margin-bottom: 90px;
}

.banner {
    margin-top: 25px;
    height: auto;
}

.banner .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.banner .img-box img {
    max-width: 100%;
    max-height: 500px;
    filter: grayscale(1);
}

.banner .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
    box-shadow: 0px 0px 43px 10px rgba(0, 0, 0, 0.31);
}

.banner h2 {
    letter-spacing: 3px;
    line-height: 0.3;
    font-size: 38px;
    font-weight: 600;
    color: #007bff!important;
}

.banner h3 {
    font-size: 25px;
    font-family: serif;
    color: #555;
}


/* PRICES */

#tickets {
    padding: 40px;
    background: #efefef;
}

.single-price {
    margin: 10px;
    display: inline;
    float: left;
    width: 100%;
    background-color: #007bff;
}

.single-price:hover {
    box-shadow: 0 2px 20px #333;
}

.price {
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.price p {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
}


/* CONTACT US */

#contact {
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form {
    padding: 15px;
}

.form-control {
    border-radius: 24px !important;
    border: 0 !important;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.31);
}

::placeholder {
    color: #999 !important;
}

.error {
    color: #f00;
}

.btn {
    margin-top: 15px;
}

.btn:hover {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.31);
}

.follow {
    color: #999;
    background: #fff;
    padding: 15px;
    margin: 15px;
    border-radius: 24px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.31);
}

.contact-info i {
    margin-left: 5px;
    margin-right: 5px;
    color: #007bff;
    font-weight: bold;
}

.follow:hover {
    color: #007bff;
    background: #fff;
    padding: 15px;
    margin: 15px;
}

.follow b {
    font-size: 16px;
    font-weight: bold;
    color: #999;
}


/* FOOTER */

#footer {
    background: #333;
    padding: 7px;
}

.fa-laptop {
    margin: 3px;
    color: #45a7f7;
}