@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
    font-family: 'Raleway', sans-serif;
    background: #eee;
}

.app-wrapper {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 200px;
    perspective: 900px;
}

.app-container {
    transform: scale(0.5);
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px #555;
    animation: entry 1s linear 1;
}

.app-img {
    width: 200px;
    border-radius: 30px;
    filter: grayscale(100%);
    transition: .4s linear;
}

.app-img:hover {
    width: 300px;
    background-color: black;
    filter: grayscale(0%);
}

#c0 {
    border-radius: 30px;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    z-index: 300;
    box-shadow: 0px 20px 100px #555;
}

#c1 {
    border-radius: 30px;
    background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
    box-shadow: 0px 20px 100px #555;
    left: 100%;
    z-index: 0;
}

#c2 {
    border-radius: 30px;
    left: -100%;
    z-index: 0;
    background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
    box-shadow: 0px 20px 100px #555;
}

.app-container:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
}

@keyframes entry {
    0% {
        top: -20%;
        opacity: 0.1;
    }
    100% {
        top: 0%;
    }
}