@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.partners-wrapper-static {
    display: none;
}

.slider {
    background: #eee;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, #eee 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 10s linear infinite;
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

@media only screen and (max-device-width: 1200px) {
    .slider {
        display: none;
    }
    .partners-wrapper-static {
        padding: 0 80px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* background-color: aqua; */
    }
    .logo-placeholder {
        height: 200px;
        width: calc(33% - 10px);
    }
    .partner-logo-static {
        max-width: 200px;
        max-height: 200px;
        position: relative;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}