@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
.wrapper-404 {
    position: relative;
    width: 100%;
    height: calc(100% - 160px);
    background-color: #ff9920;
}

.container-404 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0e1e5;
    border-radius: 6px;
}

.circle-404 {
    margin-left: 100px;
    position: relative;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    width: 350px;
    height: 0;
    padding-bottom: 350px;
    border-radius: 50%;
    background-color: #344563;
    animation: floating 2s infinite ease-in-out;
}

.ghost {
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -70px;
    width: 140px;
    height: 160px;
    background-color: #f2f2f2;
    border-radius: 70px 70px 0 0;
    position: absolute;
    cursor: pointer;
    animation: floating-ghost 3s infinite ease-in-out;
}

@keyframes floating-ghost {
    50% {
        transform: translateY(-30px);
    }
}

@keyframes floating {
    50% {
        transform: translateY(-30px);
    }
}

.face {
    width: 100px;
    position: absolute;
    top: 60px;
    left: calc(50% - 50px);
}

.eyes {
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}

.eyes span {
    height: 24px;
    width: 24px;
    background-color: #344563;
    border-radius: 50%;
    transition: .3s linear;
}

.ghost:hover .eyes span {
    height: 16px;
}

.mouth {
    width: 40px;
    height: 20px;
    background-color: #344563;
    margin: auto;
    border-radius: 0 0 20px 20px;
    transition: .3s linear;
}

.ghost:hover .mouth {
    height: 12px;
}

.hands {
    width: 180px;
    position: absolute;
    left: -20px;
    top: 80px;
    display: flex;
    justify-content: space-between;
}

.hands span {
    width: 21px;
    height: 31px;
    background-color: #f2f2f2;
}

.hands span:first-child {
    border-radius: 20px 0 0 20px;
}

.hands span:last-child {
    border-radius: 0 20px 20px 0;
}

.feet {
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: flex;
}

.feet span {
    flex: 1;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 0 0 20px 20px;
}

.feet span:first-child {
    border-radius: 0 0 20px 12px;
}

.feet span:last-child {
    border-radius: 0 0 12px 20px;
}

.error-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    text-align: left;
    width: calc(50% - 20px);
    height: 70%;
}

.text-404 {
    width: 100%;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 24px;
    color: #045fff;
    margin-left: 10px;
    font-size: 140px;
}

.line-404 {
    border-radius: 1px;
    width: 100%;
    height: 40px;
    background-color: #a6acba;
    animation: line1-anim 1.0s forwards;
}

.line2 {
    width: 100%;
    animation: line2-anim 1.2s forwards;
}

.line3 {
    width: 90%;
    animation: line3-anim 1.4s forwards;
}

@keyframes line1-anim {
    0% {
        width: 1%;
    }
}

@keyframes line2-anim {
    0% {
        width: 1%;
    }
    10% {
        width: 1%;
    }
}

@keyframes line3-anim {
    0% {
        width: 1%;
    }
    20% {
        width: 1%;
    }
}

@media screen and (max-width: 980px) {
    .container-404 {
        justify-content: center;
        width: 80%;
        height: 90%;
    }
    .circle-404 {
        margin-left: 0;
        margin-top: 100px;
        height: 300px;
        width: 0;
        padding-left: 300px;
        background-color: #344563;
    }
    .error-wrapper {
        margin-left: 0;
        text-align: center;
        width: 90%;
        height: 60%;
        margin-top: 60px;
    }
    .text-404 {
        color: rgb(37, 59, 98);
    }
    .line-404
}