@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
.wrapper-404 {
    position: relative;
    width: 100%;
    height: calc(100% - 160px);
    background-color: #ff9920;
}

.container-404 {
    display: inline-block;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0e1e5;
    border-radius: 6px;
}

.circle-404 {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    top: 50%;
    left: 10%;
    transform: translate(-5%, -50%);
    border-radius: 50%;
    background-color: #344563;
    margin: 0;
    align-items: center;
    justify-content: center;
    animation: floating 2s infinite ease-in-out;
}

.ghost {
    transform: translate(85%, 55%);
    width: 140px;
    height: 160px;
    background-color: #f2f2f2;
    border-radius: 70px 70px 0 0;
    position: relative;
    cursor: pointer;
    animation: floating-ghost 3s infinite ease-in-out;
}

@keyframes floating-ghost {
    50% {
        transform: translate(85%, 65%);
    }
}

@keyframes floating {
    50% {
        transform: translate(-5%, -53%);
    }
}

.face {
    width: 100px;
    position: absolute;
    top: 60px;
    left: calc(50% - 50px);
}

.eyes {
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}

.eyes span {
    height: 24px;
    width: 24px;
    background-color: #344563;
    border-radius: 50%;
    transition: .3s linear;
}

.ghost:hover .eyes span {
    height: 16px;
}

.mouth {
    width: 40px;
    height: 20px;
    background-color: #344563;
    margin: auto;
    border-radius: 0 0 20px 20px;
    transition: .3s linear;
}

.ghost:hover .mouth {
    height: 12px;
}

.hands {
    width: 180px;
    position: absolute;
    left: -20px;
    top: 80px;
    display: flex;
    justify-content: space-between;
}

.hands span {
    width: 21px;
    height: 31px;
    background-color: #f2f2f2;
}

.hands span:first-child {
    border-radius: 20px 0 0 20px;
}

.hands span:last-child {
    border-radius: 0 20px 20px 0;
}

.feet {
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: flex;
}

.feet span {
    flex: 1;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 0 0 20px 20px;
}

.feet span:first-child {
    border-radius: 0 0 20px 12px;
}

.feet span:last-child {
    border-radius: 0 0 12px 20px;
}

.error-wrapper {
    padding-left: 10%;
    padding-top: 10%;
    transform: translate(65%, -50%);
    width: calc(50% - 20px);
    height: 80%;
}

.text-404 {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 24px;
    color: #045fff;
    position: absolute;
    top: 5%;
    margin-left: 10px;
    font-size: 140px;
}

.line-404 {
    margin: 10px;
    border-radius: 1px;
    width: 95%;
    height: 5%;
    background-color: #a6acba;
    position: absolute;
    top: 40%;
}

.line2 {
    width: 95%;
    top: 50%;
}

.line3 {
    top: 60%;
    width: 60%;
}

@media screen and (max-width: 980px) {
    .ghost {
        transform: translate(90%, 55%);
        animation: floating-ghost 3s infinite ease-in-out;
    }
    @keyframes floating-ghost {
        50% {
            transform: translate(90%, 65%);
        }
    }
    @keyframes floating {
        50% {
            transform: translate(-50%, -15%);
        }
    }
    .container-404 {
        width: 80%;
        height: 90%;
    }
    .circle-404 {
        width: 400px;
        height: 400px;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
    .error-wrapper {
        justify-content: center;
        width: 90%;
        height: 60%;
        margin-top: 100px;
        transform: translate(5%, 0%);
    }
    .text-404 {
        left: 30%;
    }
    .line-404 {
        width: 85%;
        top: 30%;
    }
    .line2 {
        width: 85%;
        top: 40%;
    }
    .line3 {
        top: 50%;
        width: 65%;
    }
}